.footer {
  width: 100%;
  padding: 64px 0 16px 0;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-family);
  overflow: hidden;

  @media (max-width: 767px) {
    padding: 40px 0 15px 0;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;

    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 64px;

    @media (max-width: 1439px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 32px;
    }

    @media (max-width: 767px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 120px;
      gap: 20px;
    }
  }

  &__brand {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 1439px) {
      grid-row: 1 / 3;
    }

    @media (max-width: 767px) {
      display: contents;
    }
  }

  &__brand-logo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    a {
      text-decoration: none;
      color: inherit;
    }

    @media (max-width: 767px) {
      grid-column: 1 / -1;
      order: 1;
      text-align: left;
    }
  }

  &__socials {
    display: flex;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;

    &-link {
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      position: relative;
      transition: background-color 0.3s;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s;
      }
      &-hover {
        opacity: 0;
      }

      &:hover,
      &:focus {
        background-color: var(--color-block-light);
        .footer__socials-link-main {
          opacity: 0;
        }
        .footer__socials-link-hover {
          opacity: 1;
        }
      }
    }

    @media (max-width: 767px) {
      grid-column: 1 / -1;
      order: 2;
      justify-content: flex-start;
      margin-bottom: 40px;
    }
  }

  &__copyright-container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__copyright-decoration {
    font-size: 14px;
    color: rgba(198, 205, 209, 1);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__copyright {
    font-size: 14px;
    opacity: 0.6;

    @media (max-width: 767px) {
      grid-column: 1 / -1;
      order: 5;
      text-align: left;
      margin-bottom: 0;
    }
  }

  &__legal-link {
    color: rgba(198, 205, 209, 1);
    opacity: 0.6;
    text-decoration: none;

    &:link,
    &:visited {
      color: rgba(198, 205, 209, 1);
    }

    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: underline;
    }
  }

  &__legal-span {
    color: rgba(198, 205, 209, 1);
    opacity: 0.6;
  }

  &__message {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 767px) {
      display: contents;
    }
  }

  &__message-text {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 400;
    letter-spacing: -0.02em;
    &-italic {
      font-style: italic;
    }

    @media (max-width: 767px) {
      font-size: 38px;
      line-height: 1.15;
      grid-column: 1 / -1;
      order: 3;
      text-align: start;
    }
  }

  &__legal {
    margin-top: auto;
    font-size: 14px;
    opacity: 0.6;

    @media (max-width: 767px) {
      grid-column: 1;
      order: 6;
      text-align: left;
      align-self: end;
      padding-bottom: 0;
    }
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 1439px) {
      grid-column: 2;
    }

    @media (max-width: 767px) {
      display: contents;
    }
  }

  &__subscribe-title {
    font-size: 16px;
    line-height: 1.33;

    @media (max-width: 767px) {
      grid-column: 1 / -1;
      order: 4;
      text-align: center;
    }
  }

  &__subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 767px) {
      grid-column: 1 / -1;
      order: 4;
    }

    &-field {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &-input {
      width: 100%;
      padding: 12px 18px;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 30px;
      color: var(--color-light);
      font-size: 14px;
      outline: none;
      transition: border-color 0.3s;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
      &:focus {
        border-color: var(--color-light);
      }
      &--error {
        border-color: #e6533c;
      }
    }

    &-error {
      color: #e6533c;
      font-size: 12px;
      text-align: left;
      display: none;
      margin-top: 0;

      &.form-error--visible {
        display: block;
        margin-top: 4px;
        animation: fadeIn 0.3s ease-in-out;
      }
    }

    &-button {
      width: 100%;
      padding: 12px;
      margin-top: 20px;
      background-color: var(--color-block-light);
      color: var(--color-dark);
      border: none;
      border-radius: 30px;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #fff;
      }
    }
  }

  &__year {
    font-size: 14px;

    color: rgba(198, 205, 209, 1);
    opacity: 0.6;

    @media (max-width: 767px) {
      grid-column: 2;
      order: 6;
      text-align: right;
      align-self: end;
      padding-bottom: 0;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
