.header {
  margin-bottom: 96px;
  padding-top: 28px;

  @media (max-width: 1439px) {
    margin-bottom: 100px;
    padding-top: 24px;
  }

  @media (max-width: 767px) {
    margin-bottom: 80px;
    padding-top: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    width: 265px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    padding: var(--spacing-sm);
    border-radius: 60px;

    &-link {
      padding: 6px 12px;
      color: var(--color-light);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      background: none;
      border: none;
      cursor: pointer;
      font-family: var(--font-family);
      transition: all 0.6s ease;

      &--active {
        background-color: var(--color-light);
        color: var(--color-dark);
        border-radius: 30px;
        padding: 8px 16px;
      }
    }

    &-link:hover {
      background-color: var(--color-light);
      color: var(--color-dark);
      border-radius: 30px;
      padding: 8px 16px;
    }

    &-text {
      text-decoration: none;
      color: inherit;
    }
  }

  &__socials {
    display: flex;
    gap: 12px;

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: var(--color-light);
      border-radius: var(--radius-md);
      width: 44px;
      height: 44px;
      border: 1px solid var(--color-gray-light);
      border-radius: 8px;
      transition: all 0.5s;

      &-hover {
        display: none;
      }
    }

    &-svg {
      overflow: visible;
    }

    &-link:hover {
      background-color: var(--color-gray-dark);
    }

    &-link:hover .header__socials-link-hover {
      display: flex;
    }

    &-link:hover .header__socials-link-main {
      display: none;
    }
  }

  &__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--color-dark);
      border-radius: 2px;
      transition: all 0.3s ease;
    }
    &.is-hidden {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &__nav {
      display: none;
    }

    &__socials {
      display: none;
    }

    &__burger {
      display: flex;
    }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 10;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-dark);
  z-index: 1000;
  transition: right 0.3s ease;
  display: none;

  @media (max-width: 767px) {
    display: block;
  }

  &.is-open {
    right: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--spacing-xl) var(--spacing-lg);
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: var(--color-light);
    cursor: pointer;
    padding: 0;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-md);
    margin-top: 60px;
    margin-bottom: auto;

    &-link {
      padding: 12px 0;
      color: var(--color-light);
      font-size: 16px;
      text-decoration: none;
      font-weight: 400;
      background: none;
      border: none;
      cursor: pointer;
      font-family: var(--font-family);
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.8;
      }

      &--active {
        font-weight: 700;
      }
    }
  }

  &__socials {
    display: flex;
    gap: 12px;
    margin-top: auto;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin-left: 0;
    width: 100%;

    &-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
