.home__content .container {
  @media (max-width: 1439px) {
    display: flex;
    flex-direction: column;
  }
}

.home__main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'text sidebar'
    'hero hero';
  row-gap: 32px;

  @media (max-width: 1439px) {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    margin-bottom: 64px;
  }

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.home__text {
  grid-area: text;
}

.home__title {
  font-size: 74px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--color-dark);
  margin-bottom: 20px;

  &-decor {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &-decor img {
    @media (max-width: 767px) {
      padding-top: 5px;
      width: 38px;
      height: 38px;
    }
  }

  &-italic {
    font-style: italic;
  }

  @media (max-width: 767px) {
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: -0.02em;
  }
}

.home__description {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  font-weight: 400;
  max-width: 528px;
  color: var(--color-dark);

  @media (max-width: 1439px) {
    margin-bottom: 32px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
  }
}

.home__sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-size: cover;
  order: 2;

  @media (max-width: 1439px) {
    display: flex;
    flex-direction: column;
    order: 3;
  }
}

.home__image-small {
  width: 168px;
  height: 100px;
  margin-bottom: 32px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  @media (max-width: 1439px) {
    display: none;
  }
}

.home__hashtags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0;

  @media (max-width: 1439px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    order: 3;
  }

  @media (max-width: 767px) {
    justify-content: flex-start;
    gap: 8px;
  }

  &-item {
    padding: 4px 8px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-dark);
    text-align: center;
    border: 1px solid var(--color-dark);

    @media (max-width: 1439px) {
      padding: 2px 12px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 1.28;
      padding: 3px 8px;
    }

    &-button {
      width: 100%;
      background: none;
      border: none;
      color: inherit;
      font: inherit;
      cursor: pointer;
      padding: 0;
    }
  }
}

.home__hero {
  grid-area: hero;
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 64px;
  order: 2;

  @media (max-width: 1439px) {
    margin-bottom: 0;
    height: auto;
    display: block;
  }

  img {
    width: 100%;
    height: 350px;
    border-radius: 60px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 21 / 9;
  }

  @media (max-width: 1439px) {
    img {
      height: 550px;
      aspect-ratio: 16 / 9;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 767px) {
    img {
      height: 460px;
      aspect-ratio: 4 / 3;
      border-radius: 30px;
      margin-bottom: 20px;
    }
  }
}
