// CSS Variables
:root {
  --color-light: #f4f4f4;
  --color-dark: #242424;
  --color-gray-dark: rgba(36, 36, 36, 0.8);
  --color-gray-light: rgba(36, 36, 36, 0.1);

  --color-block-light: #ffffff;

  --font-family: 'DM Sans', sans-serif;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;
}
